.skilltree {
	margin-top: 200px; /* temp */
	padding: 5px;
	color: black;
	background-color: whitesmoke;
}

.row {
	display: flex;
	justify-content: center;
	min-height: 60px;
	border: 1px solid gray;
	gap: 20px;
}

.skill {
	flex: 0 0 auto;
	position: relative;
	margin: 10px 5px;
	width: 60px;
}

.skill img {
	width: 60px;
	height: 60px;
	background-color: silver;
	border-radius: 100%;
}

.description {
	position: absolute;
	display: none;
	left:-133px;
	opacity: 0%;
	z-index: 5;
	width: 300px;
	padding: 10px;
	background-color: white;
	border: 2px solid silver;
	border-radius: 4px;
	transition: opacity 150ms ease;
}

.skill:hover .description {
	display: block;
	opacity: 100%;
}

.description p {
	margin: 5px 0;
	padding: 10px;
	font-size: 0.8em;
	background-color: whitesmoke;
	border-radius: 2px;
}